# Node.js specific files
node_modules/
npm-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db
.env
.prettierrc
.eslintrc.json

# Log files
*.log
npm-debug.log*

# Build output
build/
dist/

# IDE specific files
.idea/
*.suo
*.tmp
*.db

# Editor-specific files
.vscode/
